.demo-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.demo-form input,
.demo-form textarea {
	width: 30rem;
}

.navbar {
	display: flex;
	margin: 2rem 10rem;
	border: 1px solid red;
	justify-content: space-evenly;
}
